DB_HOST=localhost
DB_USER=admin
DB_PASS=admin
DB_NAME=nestjs-blog
DB_PORT=5432
DB_SYNC=true
DB_AUTO_LOAD=true
PROFILE_API_KEY=test
JWT_SECRET=
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=